@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

:root {
  /*Aqui se pueden modificar los colores generales de la página*/
  --primary-color: #742b8a;
  --primary-hover-color: #976ebe;
  --error-text: #e8505b;
  --active-color: #ddbff1;/*color principal*/
  --main-bg-color: #e3dae6;/*color del fondo*/
  --item-bg-color: #fcfcfc;
  --accent-color: #ffffff;/*color secundario o de enfasis*/
  --bar-text: #ffffff;/*color del texto en barras/menues*/
  --active-text: #e1baef;/*color del texto cuando se activa, eg.: en botones*/
}

p {
  margin-block: 1em;
  margin-block: 1lh;
}

/* Estilo de titulo principal y secundario */
h1
{
    color: var(--primary-color);
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: 700;
    vertical-align: middle;
    text-align: center;
}
h2 {
    color: var(--primary-color);
    font-size: 1.75rem;
    font-weight: 700;
    vertical-align: middle;
    text-align: center;
}