@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

:root {
  /*Aqui se pueden modificar los colores generales de la página*/
  --primary-color: #7720a0;
  --primary-hover-color: #d1ec63;
  --active-color: #cecb32;/*color principal*/
  --main-bg-color: #e3dae6;/*color del fondo*/
  --item-bg-color: #fcfcfc;
  --accent-color: #ffffff;/*color secundario o de enfasis*/
  --bar-text: #ffffff;/*color del texto en barras/menues*/
  --active-text: #e1baef;/*color del texto cuando se activa, eg.: en botones*/
}

p {
  margin-block: 1em;
  margin-block: 1lh;
}