---
import Layout from "../layouts/Layout.astro";
import ErrorCard from "../components/ErrorCard.astro";
import "../styles/global.css";
---

<Layout title="404, no encontrado">
    <div class="pt-32 pb-32"> 
        <ErrorCard />
    </div>
</Layout>
