---
import ContactBox from "../components/ContactBox.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Contáctenos">
  <div>
    <div
      class="box-content md:box-border bg-[var(main-bg-color)] min-h-[85vh] h-full w-[95%] p-5"
    >
      <ContactBox/>
    </div>
  </div>
</Layout>
