---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Equipo organizador" description="Presentacion de eqipo organizador">

  <div class= "background h-full w-full bg-[var(--main-bg-color)]">

  </div>

</Layout>

<style>
</style>
