---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Sobre la ULagos">
    <div class="relative w-[80%] pt-16 items-center justify-center ml-[10%] mb-6 border-0 shadow-lg bg-[var(--item-bg-color)] rounded-b-xl">
        <h1>Historia de la Universidad de Los Lagos</h1>
        <img src="/src/images/historia/ipo-osorno-1993.jpg" width=500 class="float-left m-4 rounded-lg shadow-md mt-14 ml-5"/>
        <div class=" pt-6 pb-12 px-16 text-justify">
            <p>La <b>Universidad de Los Lagos</b> es una institución estatal y regional fundada en agosto de 1993. Entre 1981 y 1993 fue uno de los cuatro Institutos Profesionales Estatales y, antes de ello, sede de la Universidad de Chile y de la Universidad Técnica del Estado. Su tránsito de Instituto Profesional a su actual estatus de Universidad, obedece al desarrollo de un proyecto universitario presentado al Gobierno y al Congreso Nacional, etapa que contó con una amplia participación de la comunidad universitaria y el apoyo de diversos actores de la región. Este proceso concluyó con la creación de la Universidad de Los Lagos en agosto de 1993.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet in ipsum a elementum. Proin vel commodo nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec bibendum quam in lorem commodo ornare. Morbi in luctus massa. Nulla tincidunt enim at cursus interdum. Aliquam feugiat et risus vehicula euismod. Etiam ac ex est. Donec pellentesque, augue in sollicitudin pretium, purus lectus sollicitudin ex, a euismod lorem felis sed ipsum. In eget mauris iaculis, gravida tortor a, ullamcorper ipsum. Suspendisse eu neque ut ex vulputate fermentum eu non ligula. Aenean non varius metus, vel semper orci. Sed convallis est a est fermentum, ac condimentum ipsum volutpat. Nam ullamcorper, dui sed semper finibus, nisl ex elementum nulla, a lacinia orci libero a neque. In vitae tempor tellus, et rutrum nibh.

            Nulla arcu elit, semper in interdum nec, vestibulum vel mi. Ut vestibulum turpis sed tempus dignissim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent a magna pretium, lobortis felis et, vulputate lectus. Sed ut consequat augue, ut blandit enim. Vivamus ullamcorper, diam eget aliquet volutpat, purus enim mattis metus, eu euismod metus eros eu leo. Curabitur bibendum justo lacus, sit amet volutpat enim lacinia sit amet. Ut eu volutpat dui, in interdum tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean accumsan quam a est facilisis vehicula. Aliquam blandit commodo eros vitae egestas. Nulla tempus pretium quam a porttitor.</p>
            <h2> Campus Chiloé</h2>
            <p>La Universidad de Los Lagos asume desde mediados de los años 90´ el desafío de brindar educación superior en el archipiélago de Chiloé, labor que ha desarrollado de manera sistemática e ininterrumpida. En un comienzo, el objetivo era garantizar el acceso a la educación superior de carácter pública a todas y todos aquellos que por diversos motivos no podían sustentar los costos, no sólo económicos, de estudiar fuera del archipiélago. Con este propósito, se implementaron una serie de carreras del Nivel Técnico Universitario. Este proceso ha presentado una progresiva y notable consolidación, especialmente en los últimos años, dado el fortalecimiento que implicó la implementación de los Proyectos de Mejoramiento Institucional (PMI) “Chiloé Superior” y “Consolidación de la Formación Técnica”.
            </p>

            <p>En efecto, hoy, el desafío de la Universidad de Los Lagos en Chiloé es consolidar un proyecto universitario de trascendencia regional y nacional, conectando las características propias del territorio insular con la calidad académica y el desarrollo disciplinar propio del conocimiento científico, fortaleciendo las actuales carreras de pregrado -técnicas y profesionales- que se imparten en la sede. Asimismo la sede se propone potenciar las actividades de vinculación con el medio, la formación continua, y acoger la capacidad de investigación, innovación y transferencia tecnológica que desarrolla la universidad en la Región de Los Lagos.</p>
        </div>
        <img src="/src/images/historia/inauguracion-campus-chiloe.jpg" class="rounded-b-xl"/>
    </div>
</Layout>
<style>


</style>
