---
import Hero from '../components/Hero.astro';
import BlogPost from '../layouts/BlogPost.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout title="Bienvenida a ENSUCh 2025" description="ENSUCh 2025">
	<!-- <Hero /> -->
	<Hero />
	<!--<Welcome />-->
	<main>
	<div class="text-justify m-5 transparent rounded-lg p-4">
		<h1>Bienvenida a ENSUCh 2025</h1>
		<p>¡Estamos emocionados de tenerte aquí!</p>
		<p>ENSUCh es un evento que reúne a estudiantes, profesionales y entusiastas de la tecnología para aprender, compartir y colaborar en proyectos innovadores.</p>
		<p>¡Esperamos que disfrutes de tu experiencia!</p>
	</main>
	<BlogPost title="Primer post">
		<p>¡Hola a todos! Este es nuestro primer post en el blog de ENSUCh 2025. Aquí compartiremos noticias, actualizaciones y recursos relacionados con el evento. ¡Mantente atento!</p>
		<p class="dateContainer">
			<span class="date">30 de Marzo de 2025, 14:18 hrs.</span>
		</p>
	</BlogPost>
</Layout>

<style>
	main {
		background-color: rgba(230, 230, 230, 0.568);
		border-radius: 20px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		margin: 150px;
	}
	h1{
		text-align: center;
		text-color: rgba(0, 0, 0, 0.8);
		font-size: 2rem;
		margin-bottom: 1rem;
		font-weight: bold;
	}
	.dateContainer {
		color: rgba(68, 68, 68, 0.5);
		margin-top: .7rem;
		font-style: italic;

	}
</style>