---
import "../styles/global.css";
---

<footer class="mt-auto">
  <div class="bg-[var(--primary-color)] h-96 mt-auto">
    <h1 class="p-5 text-4xl text-[var(--bar-text)] text-center">Ciao mondo!</h1>
  </div>
</footer>