---
import '../styles/global.css';
---
<header>
    <div class="bg-[#0055b7] h-25">
        <div class="absolute left-5 top-3 flex">
            <a href="https://www.ulagos.cl"><img src='/src/images/logo.png' alt="Logo" class="left-0 h-16 w-auto mx-auto" /></a>
        </div>
        <h1 class="text-4xl text-white text-center py-5 font-bold">Hola mundo!</h1>
    </div>
</header>