---
import "../styles/global.css";

export interface Props {
    class?: string;
}
const { class: className } = Astro.props;
---

<section class={className}>
    <div class="w-full h-[75vh] bg-[url(/src/images/campus-chiloe.jpg)] bg-cover bg-no-repeat"/>
</section>
