---
import '../styles/global.css';
---
<main>
    <section class="relative w-full h-screen flex items-center justify-center">
        <img src="src/images/placeholder/japan-night.jpg
        " alt="Fondo" class="absolute w-full max-h-200 opacity-85 object-cover">
    </section>
</main>

<style>
    main{

    }
</style>