---
import '../styles/global.css';
---
<main>
    <section class="relative w-full h-screen flex items-center justify-center">
        <img src="src/images/castro.jpg" alt="Fondo" class="absolute w-full max-h-200 opacity-85 object-cover">
        <div class="relative bg-white/75 py-5 px-15 rounded-4xl shadow-md max-w-4/5 text-center">
        <h1 class="text-3xl font-bold text-gray-900">Bienvenida al Encuentro de Secretarias del CRUCh 2025</h1>
        <p class="text-lg text-black mt-2 font-bold italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at eros libero. Praesent consectetur nunc nec neque rutrum, eu molestie ipsum porta. Suspendisse non porttitor erat. Morbi a augue placerat odio posuere tempor blandit eget ipsum. Curabitur facilisis vulputate tincidunt. Donec pulvinar enim at faucibus vehicula. Mauris at placerat risus, quis mollis massa. Proin eu tortor quis lectus venenatis consequat. Cras cursus felis volutpat ipsum ullamcorper fringilla. Proin sapien libero, bibendum id dui pretium, pharetra porta purus. Fusce luctus nec ante quis convallis. Aenean ultrices laoreet luctus. Integer dignissim nisi augue, sed sagittis mi blandit sed. 
        </p>
        </div>
    </section>
</main>

<style>
    main{

    }
</style>